* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: cursive;
}

body {
    /* Centrera hela spelet på skärmen */
    display:flex;
    justify-content: center;
}

.gameBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

        /*to do: Ändra storlekar så de anpassar för större/mindre skärmar. Fasta höjder så det inte "hoppar" mellan vyer?*/
    width: 340px;
    height: fit-content;
    padding: 2rem;

    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px;
}

#startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    margin:1rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}


.rankingContainer {
    background-color: white;
    padding:0.5rem;
    border-radius: 10px;
    border: 3px solid black;

    & h2 {
        display:flex;
        justify-content: center;
        border-bottom: 3px solid black;
    }
}


.infoBtn {
    display:flex;
    justify-content: center;
    align-items: center;

    width:2rem;
    height:2rem;
    border-radius: 1337px;

    background-color: white;
    border: 3px solid black;

    font-weight: bold;
    font-size: 190%;

    position: absolute;
    top:0;
    right:0;

}

.copyRight {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hideScreen {
    display: none !important;
}

.showScreen {
    display: flex !important;
}