* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

body {
    display:flex;
    justify-content: center;
}

.gameBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

        /*to do: Ändra storlekar så de anpassar för större/mindre skärmar. Möjligen fasta höjder så det inte "hoppar"?*/
    width: 340px;
    height: fit-content;
    padding: 2rem;

    background-color: lightblue;
    border-radius: 10px;
}

button {
    margin:1rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.infoBtn {
    display:flex;
    justify-content: center;
    align-items: center;

    width:2rem;
    height:2rem;
    border-radius: 1337px;

    background-color: white;
    border: 2px solid navy;

    font-weight: bold;
    font-size: 190%;
    color:navy;

    position: absolute;
    top:0;
    right:0;

}

.copyRight {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}