/* Styling Spelyta */

.gameBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 2rem;

    width: 600px;
    height: 600px;
    padding: 2rem;

    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px;

    & ul {
        margin-top: 2rem;
    }
    & #startBtn {
        margin-top: 2rem;
    }
}