
/* info button Styling*/
.infoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3.2rem;
    border-radius: 1337px;

    background-color: white;
    border: 3px solid black;

    font-weight: bold;
    font-size: 100%;

    position: absolute;
    top: 0;
    right: 0;

}

/* Overlay Styling*/
#infOverlay {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(1, 1, 95, 0.815);
    color: white

}

.rankingContainer {
    background-color: white;
    color: black;
    padding:0.5rem 2rem;
    margin:2rem 0 2rem 0;
    border-radius: 10px;
    border: 3px solid black;

    font-size: medium;

    & h2 {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid black;
    }
}