/* Keyboard related sheit */

/* Keyboard Layout */
.keyboard {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(2, auto);
}

/* Keyboard button Styling */
.keyboardBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    margin: 0.1rem;
    height: 2rem;
    width: 2rem;
}

/* Temporär styling för tryckta knappar */
.activeKey {
    color: white;
    background-color: blue;
}
.inactiveKey {
    color: black;
    background-color: white;
}