* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: cursive;
}


/* Centrera hela spelet på skärmen */
body {
    display:flex;
    justify-content: center;
}

.hideView {
    display: none !important;
}

.showView {
    display: flex !important;
}


    #playerName 
    {padding: 12px 15px;
     border: none;
     border-radius: 12px;
     background: #f2f2f2;
     font-size: 16px;
     outline: none;
     transition: 0.2s;}

    #playerName:focus 
    {background: white;
     box-shadow: 0 0 0 3px #7ab6ff;}