* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: cursive;
}


/* Centrera hela spelet på skärmen */
body {
    display:flex;
    justify-content: center;
}

/* Styling Spelyta */
.gameBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

        /*to do: Ändra storlekar så de anpassar för större/mindre skärmar. Fasta höjder så det inte "hoppar" mellan vyer?*/
    width: fit-content;
    height: fit-content;
    padding: 2rem;

    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px;
}

.viewStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
}


.rankingContainer {
    background-color: white;
    padding:0.5rem;
    border-radius: 10px;
    border: 3px solid black;

    & h2 {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid black;
    }
}




.copyRight {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.hideView {
    display: none !important;
}

.showView {
    display: flex !important;
}