* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: cursive;
}


/* Centrera hela spelet på skärmen */
body {
    display:flex;
    justify-content: center;
}

/* Styling Spelyta */
.gameBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 2rem;

    width: 600px;
    height: 600px;
    padding: 2rem;

    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px;

    & ul {
        margin-top: 2rem;
    }
    & #startBtn {
        margin-top: 2rem;
    }
}

.viewStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
}


.rankingContainer {
    background-color: white;
    color: black;
    padding:0.5rem 2rem;
    margin:2rem 0 2rem 0;
    border-radius: 10px;
    border: 3px solid black;

    font-size: medium;

    & h2 {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid black;
    }
}




.copyRight {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.hideView {
    display: none !important;
}

.showView {
    display: flex !important;
}

#head, #body, #arms, #legs 
    {visibility: hidden;}



@media (max-width: 600px) {
  .gameBackground {
    margin-top: 2rem;

    width: 340px;
    height: 600px;
    padding: 0.5rem;

    & ul {
        margin-top: 2rem;
    }
    & #startBtn {
        margin-top: 2rem;
    }
}
}