* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: cursive;
}


/* Centrera hela spelet på skärmen */
body {
    display:flex;
    justify-content: center;
}

.hideView {
    display: none !important;
}

.showView {
    display: flex !important;
}





